RTSP_URL=rtsp://user:password@192.168.1.10:554/stream1
VIDEO_FILE=/absolute/path/to/demo.mp4
MODEL_PATH=../weights/face_detection_yunet_2023mar.onnx
MODEL_NAME=
SERVICE_HOST=0.0.0.0
SERVICE_PORT=8000
